{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
    <header class="head">
    <div class="wrapper">
        <div class="cf">  
        <nav class="main-menu js-menu">
            <ul>
            <li class="item">
                <a href="#"></a>
            </li>
            
            </ul>
        </nav>
    </div>
    </header> 
    <section>
    <div class="wrapper">
        
        <div class="task-wrap">
            <h2>BrainStack</h2>
            <div class="btn-wrap"><a class="js-task-add task-add" href="#" data-popup="task-add"> create new task</a></div>
            
            <div class="js-popup-task-add popup-task-add" data-popup="task-add">
                <div class="wrap">
                    <form action="./">
                    <label for="task-name">Enter name for task</label>
                    <input id="task-name" type="text" palceholder="Enter name for task">
                
                    <label for="task-desc">Enter name for task description</label>
                    <textarea id="task-desc" cols="30" rows="4" value="Enter name for task description"></textarea>
                    
                    <div class="btn-wrap"><a class="task-add" href="#"> enter</a></div>
                    
                    </form>
                </div> 
            </div>
            <div class="task-table" id="task-deck">
            <div>
            
        </div>   
    </div>
    </section>
    
    <footer>
    <div class="wrapper">
        
    </div>  
    </footer>

<script id="task-template" type="text/template">
    <div class="task-item task-common">
        <div class="cube">
        <i class="cube-top"></i>
        <div class="task-checkbox">
            <div class="checkbox js-checkbox">
            <input type="checkbox" id="" >
            </div> 
        </div>
        <div class="task-status"><p>New</p></div>      
        <div class="task-layout">
            <div>
                <header class="task-name">
                <p><%= title %></p>
                <i class="js-toggle-task-desc btn-see-desc">?</i>
                </header> 
            
                <div class="hidden js-task-desc">
                <p class="task-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </div>
            </div>          
        </div>
        
        <div class="task-priority priority-high"><p>100h</p></div>
        <div class="task-badge"><p>badge</p></div>
        <i class="cube-bottom-shadow"></i>
        </div>
    </div> 
</script>

{% endblock content %}


{% block js %}
    {{ block.super }}
    <script src="{% static 'js/third_party/underscore-min.js' %}"></script>
    <!--- <script src="{% static 'js/third_party/jquery-2.0.3.min.js' %}"></script> -->
    <script src="{% static 'js/third_party/backbone-min.js' %}"></script>
    <script src="{% static 'js/models/Task.js' %}"></script>
    <script src="{% static 'js/collections/TaskDeck.js' %}"></script>
    <script src="{% static 'js/views/TaskView.js' %}"></script>
    <script src="{% static 'js/views/TaskDeckView.js' %}"></script>
    <script src="{% static 'js/app.js' %}"></script>
{% endblock js %} 
