  <div class="task-wrap">
     <h2>BrainStack</h2>
     <div class="btn-wrap"><a class="js-task-add task-add" href="#" data-popup="task-add"> create new task</a></div>
     
     <div class="js-popup-task-add popup-task-add" data-popup="task-add" style="display:block;">
       <div class="wrap">
         <i class="cube-top"></i>
         <form action="" method="post" ng-submit="addNewTask()">
           <label for="task-name">Enter name for task</label>
           <input ng-model="new.title" id="task-name" type="text" placeholder="Enter name for task">
      
           <label for="task-desc">Enter name for task description</label>
           <textarea ng-model="new.description" id="task-desc" cols="30" rows="4" placeholder="Enter name for task description"></textarea>
           
           <label for="task-name">Estimated time</label>
           <input ng-model="new.estimate" id="task-name" type="number" placeholder="Enter estimated time">
           
           <label for="task-name">Priority</label>
           <input  ng-model="new.priority" id="task-name" type="number" placeholder="Number from 1 to 3">
           
           <div class="btn-wrap"><input type="submit" name=""  value="Save task" id=""></div>
         </form>
          <i class="cube-bottom-shadow"></i>
       </div> 
     </div>
     <div class="task-table">
  
       <div class="task-item task-common" ng-repeat="task in tasks">
         <div class="cube">
           <i class="cube-top"></i>     
           <div class="task-checkbox">
             <div class="checkbox js-checkbox">
               <input type="checkbox" id="" >
              </div> 
           </div> 
           <div class="task-status"><p>New</p></div> 
           <div class="task-layout">
             <div>
                <header class="task-name">
                  <p>{{ task.title }}</p>
                 <i class="btn-see-desc js-toggle-task-desc" href="#">?</i>
                </header> 
          
                <div class="hidden js-task-desc">
                  <p class="task-desc">{{ task.description }}</p>
                </div>
             </div>
           </div>
           <div class="task-priority priority-high"><p>{{ task.estimate }}h</p></div>
           <div class="task-badge"><p>badge</p></div>
           <i class="cube-bottom-shadow"></i>
         </div>
       </div>
       <!-- 
       <div class="task-item task-my">
         <div class="cube">
            <i class="cube-top"></i>
       
            <div class="task-layout">
              <div class="col col15">
                <div class="nickname">
                  NickName big NickName big big 
                </div>
              </div>
              <div class="col col85">
                <div>
                   <header class="task-name">
                     <p>TAsk ask name Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercit lorem ipsum</p> 
                     <i class="js-toggle-task-desc btn-see-desc" href="#">?</i>
                   </header> 
          
                   <div class="hidden js-task-desc">
                     <p class=" task-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                   </div>
                </div>
                <div class="progress-wrap">
                  <div class="progress js-progress"><div class="progress-active" style="width: 20%"></div></div>
                </div>
              </div>
            </div>
       
           <div class="task-priority priority-low"><p>2h</p></div>
            <div class="task-badge"><p>badge</p></div>
           <i class="cube-bottom-shadow"></i>
         </div>
       </div>
    
       <div class="task-item task-common">
         <div class="cube">
           <i class="cube-top"></i>
           <div class="task-checkbox">
             <div class="checkbox js-checkbox">
               <input type="checkbox" id="" >
              </div> 
           </div>
           <div class="task-status"><p>New</p></div> 
           <div class="task-layout">
             <div>
                <header class="task-name">
                  <p>TAsk ask name Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercit</p>
                 <i class="btn-see-desc" href="#">?</i>
                </header> 
          
                <div class="hidden">
                  <p class="task-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </div>
             </div>        
           </div>
    
           <div class="task-priority priority-normal"><p>1200</p></div>
           <div class="task-badge"><p>badge</p></div>
           <i class="cube-bottom-shadow"></i>
         </div>

       </div>   -->
 
  </div>   
  </div>


