@charset "utf-8";

// FONTS 

// GENERAL STYLE 
html,body {
  height: 100%;
}
%left {
  float: left;
}
.left {
	float: left;
}
%right {
  float: right;
}
.right {
	float: right;
}
a {
  text-decoration: none;
  color: #666;
}
a:focus {
  outline: none;
}
input {
	border: none;
	padding: 0;
}
input:focus,
textarea:focus {
	outline: none;
  border: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
button {
  border: none;
  box-shadow: none;
}
label {
  cursor: pointer;
}

// COMMON PART
body {
	background: #fff;
	font: 100 62.5%/1.2 'Helvetica', Arial, Sans-serif;
  //font: 62.5%/1.2 Arial, Sans-serif;
  color: #666;
  
  background-color: #F4F7F1;
  //font: 0.88em/1.3 Arial,sans-serif;
}
.wrapper {
	width: 980px;
	margin: 0 auto;
	position: relative;
}



