@charset "utf-8";

.task-my {
  .avatar {
    margin-right: 15px;
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 1px 1px 0 1px #CCCCCC;
    display: inline-block;
    height: 60px;
    line-height: 60px;
    
    text-align: center;
    vertical-align: middle;
    width: 60px;
    img {
      vertical-align: middle;
    }
  }
  .task-name {
    p {
      display: inline;
      font-weight: 600;
      font-size: 1.3em;
      color: #000;
      line-height: 1.4;
    }
    .btn-see-desc {
      background: none repeat scroll 0 0 #0066CC;
         border-radius: 50% 50% 50% 50%;
         color: #FFFFFF;
         font-size: 1.4em;
         font-weight: bold;
         line-height: 1.4;
         padding: 3px 7px 1px;
         @include inline-block(top);
         cursor:pointer;
    }
  }
  .task-desc {
    padding: 10px 0;
  }
  .nickname {
     margin-right: 10px;
    display: inline-block;
    vertical-align: middle;
    color: $color-link;
    font-weight: 600;
    font-size: 1.3em;
    font-weight: bold;
    text-shadow: 0 1px 0 #fff;
  }
  .progress-wrap {
     margin-top: 11px;
  }
  .progress {
    background: none repeat scroll 0 0 padding-box #F1F1F1;
        border-radius: 7px 7px 7px 7px;
        box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.4) inset;
        height: 22px;
        width: 100%;
  }
  .progress-active {
    background: none repeat scroll 0 0 #94CD4C;
        border-radius: 7px 7px 7px 7px;
        box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.4) inset;
        height: 100%;
  }
}