@charset "utf-8";

a {
  border-color: rgba(0, 102, 204, 0.3);
      color: #0066CC;
      cursor: pointer;
}
.hidden {
  display: none;
}
h1,h2 {
  padding-left: 20px;
  color: #666666;
      font-size: 3.2em;
      line-height: 1;
      font-weight: bold;
      padding-bottom: 0;
     //font-family: "HelveticaNeueUL",'Helvetica', Arial, Sans-serif;  
  font-family: "Lobster",'Helvetica', Arial, Sans-serif;       
}

.task-wrap {
  background: none repeat scroll 0 0 #FFFFFF;
      box-shadow: 0 0 15px #A8BDC9;
      //margin: 20px 0 0;
      padding: 16px 20px;
}
.task-table {
  padding: 40px 0 0 0;
  .cube {
    background-color: #FFFFFF;
    padding: 20px 23px 13px;
    position: relative;
    box-shadow:0 0 1px 0 rgba(0, 0, 0, 0.2);
    .cube-top {
      display: block;
      border-bottom: 11px solid #D3D9DC;
      
         position: relative;
         z-index: 1;
         border-left: 19px dashed rgba(0, 0, 0, 0);
           border-right: 19px dashed rgba(0, 0, 0, 0);
           clear: both;
           margin: -32px -25px 10px;
           &:after {
             //box-shadow: 0 -4px 12px 4px rgba(248, 249, 250, 0.8);
                content: "";
                height: 1px;
                left: -4px;
                position: absolute;
                top: 17px;
                width: 101%;
           }
    }
    .cube-top-shadow {
      height: 42px;
          margin: 0 -35px;
          position: absolute;
          top: 0;
          width: 100%;
          z-index: 3;
      &:before {
        background: url("../images/static/shadow.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
           content: "";
           height: 42px;
           left: 0;
           position: absolute;
           top: 0;
           width: 100px;
      }
      &:after {
        background: url("../images/static/shadow.png") no-repeat scroll 100% 0 rgba(0, 0, 0, 0);
         content: "";
         height: 42px;
         left: 100px;
         position: absolute;
         right: 0;
         top: 0;
      }
    }
    .cube-bottom-shadow {
      height: 42px;
          margin: 0 -23px;
          position: absolute;
          bottom: -42px;
          width: 100%;
          z-index: 3;
      &:before {
        background: url("../images/static/shadow.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
           content: "";
           height: 42px;
           left: 0;
           position: absolute;
           top: 0;
           width: 100px;
      }
      &:after {
        background: url("../images/static/shadow.png") no-repeat scroll 100% 0 rgba(0, 0, 0, 0);
         content: "";
         height: 42px;
         left: 100px;
         position: absolute;
         right: 0;
         top: 0;
      }
    }
  }
}
.task-item {
   //margin: 0 0 39px 0;
    margin: 0 0 27px 0;
  font-weight: 100;
  //padding: 0 20px;
  padding: 0 40px 0 20px;
  
  .task-priority {
    text-align: center;
    position: absolute;
    margin-right: 20px;
    right: -14px;
    top: -1px;
    width: 41px;
    height: 30px;
  
    text-align:center;
    &.priority-high {
       background: $color-priority-high;
       &:after {
         border-top: 16px solid $color-priority-high;
       }
    }
    &.priority-normal {
       background: $color-priority-normal;
       &:after {
         border-top: 16px solid $color-priority-normal;
       }
    }
    &.priority-low {
       background: $color-priority-low;
       &:after {
         border-top: 16px solid $color-priority-low;
       }
    }
    &:after {
      content: '';
      position: absolute;
      left: 0;
      bottom: -16px;
      @include scale(1.0001);
    
      border-left: 20px solid #FFFFFF;
         border-right: 20px solid #FFFFFF;
         
    }
    p {
      padding: 10px 0 0 0;
      color: #fff;
      font-size: 1.1em;
      
    }
  } 
  .task-status {
    background: none repeat scroll 0 0 #94CD4C;
       left: -6px;
       margin-top: -11px;
       position: absolute;
       text-align: center;
       top: 50%;
       @include transform(rotate(-90deg));
   /* &:before {
      border-bottom: 5px solid rgba(0, 0, 0, 0);
          border-right: 9px solid #3D7280;
          border-top: medium none;
          top: -5px;
          content: "";
          left: 0;
          position: absolute;
          transform: scale(1.00001, 1.00001);
    }*/
    p {
      color: #FFFFFF;
          font-size: 1.1em;
          line-height: 1;
          padding: 4px 3px;
          text-transform: uppercase;
    }
  }
  .task-badge {
    position: absolute;
    top: 40%;
    right: -44px;
  }
}

.task-layout {
  padding: 0 40px 0 0;
}

.task-common {
  .task-checkbox {
    //margin-left: 10px;
    //@include inline-block;
    position: absolute;
    left: -27px;
    top: 9px;
  }
  .task-estimate {
    margin: 5px 0 0 0;
    font-size: 1.3em;
    color: #000;
  }
  .task-name {
   padding: 5px 20px 5px 0;
   position: relative;
    p {
      font-weight: 600;
      font-size: 1.3em;
      //color: $color-link;
      color: #000;
      overflow: hidden;
      text-overflow: ellipsis;
      height: 16px;
      white-space: nowrap; 
     
    }
    .btn-see-desc {
      background: none repeat scroll 0 0 #0066CC;
         border-radius: 50% 50% 50% 50%;
         color: #FFFFFF;
         font-size: 1.4em;
         font-weight: bold;
         line-height: 1.4;
         padding: 3px 7px 1px;
         position: absolute;
         right: 0;
         top: -4px;
         cursor:pointer;
    }
  }
  .task-desc {
    font-size: 1.3em;
    line-height: 1.3;
    color: #666;
    padding: 10px 25px;
    margin: 3px 0;
    
  }
  .task-short-desc {
    font-size: 1.3em;
    line-height: 1.3;
    margin-right: 10px;
  }
}

