@charset "utf-8";

.popup-awards {
    width: 400px;
    margin-left: -200px;
    margin-top: -130px;  
}
.awards {
  ul {
    padding: 3px 20px;;
    li {
      padding: 0 0 13px 0;
      &:last-child {
        padding: 0;
      }
    }
  }
  .number {
    background: #F0F0F0;
    border-radius: 50% 50% 50% 50%;
    box-shadow: 1px 2px 0 0 rgba(0, 0, 0, 0.5);
    display: inline-block;
    line-height: 1;
    padding: 6px 9px 5px;
    vertical-align: middle;
    border: 3px solid #FFFFFF;
    color: #666;
    //color: #fff;
    font-size: 1.4em;
    font-weight: 100;
    //text-shadow: 0 0 1px #666666;
  }
  header {
     display: inline-block;
        vertical-align: middle;
        font-size: 1.5em;
        margin-left: 7px;
  }
  p {
    font-size: 1.3em;
        padding: 2px 0 0 41px;
  }
  .award-high {
    .number {
      color: #fff;
      background: $color-priority-high;
    }
  }
  .award-normal {
    .number {
       color: #fff;
      background: $color-priority-normal;
    }
  }
  .award-low {
    .number {
       color: #fff;
      background: $color-priority-low;
    }
  }
}