@charset "utf-8";

@import "compass/reset";
@import "compass";

// FONTS
@font-face {
  font-family: "Lobster";
  src: url("../fonts/lobster_1.3-webfont.eot");
  src: url("../fonts/lobster_1.3-webfont.eot?#iefix") format("embedded-opentype"),
	     url("../fonts/lobster_1.3-webfont.svg") format("svg"),
	     url("../fonts/lobster_1.3-webfont.woff") format("woff"),
	     url("../fonts/lobster_1.3-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "HelveticaNeueUL";
  src: url("../fonts/helveticaneue-ultralight-webfont.eot");
  src: url("../fonts/helveticaneue-ultralight-webfont.eot?#iefix") format("embedded-opentype"),
	     url("../fonts/helveticaneue-ultralight-webfont.svg") format("svg"),
	     url("../fonts/helveticaneue-ultralight-webfont.woff") format("woff"),
	     url("../fonts/helveticaneue-ultralight-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

// SPRITE
$icons-spacing: 15px;
$icons-layout: smart;
//@import "icons/*.png";

/////////////////////////////

// VARIABLES
$color-link: #0066CC;

$color-priority-high: #ff0000;
$color-priority-normal: orange;
$color-priority-low: #FFD700;

// BORDER

////////////////////////////

// STYLE
@import "mixin";
@import "layout";
@import "common";

@import "header";
@import "footer";

// MAIN
@import "main";
@import "task";
@import "task-add";
@import "task-my";

@import "launch";

@import "popup";
